In [1]:
import pandas as pd 
import requests
from bs4 import BeautifulSoup
import re

### 1st city: New York

In [4]:
url = "https://finance.yahoo.com/news/study-reveals-average-cost-per-195736142.html?guccounter=1&guce_referrer=aHR0cHM6Ly93d3cuZ29vZ2xlLmNvbS8&guce_referrer_sig=AQAAAIDPnUAJpaXGUbdSXXX2DAl-e1E5p1EeGcdTxcxStbbVDDPOq7AdaBsDnNIrrqLk1_hgQZc6sJdSrygVoOWklcVzm8LEznN84RYlVUttGQ-xd5KkZLS_s6kz7-iriS3x8oC-882P5bqE1bzW08E1h4arEwzAloPEmLfXW1ukGLhJ"
res = requests.get(url)                                       
soup = BeautifulSoup(res.content, 'html.parser')
ny_rent = soup.find_all("div", {"class":"caas-table"})
ny_rent

[]

In [37]:
url = "https://www.numbeo.com/cost-of-living/city_price_rankings?displayCurrency=USD&itemId=100&region=021"
res = requests.get(url) 
soup = BeautifulSoup(res.content, 'html.parser')
table = soup.find_all('tr', {"class":"tr_standard"})

rank = [columns[0].text.strip().replace(".","") for row in table if (columns := row.find_all('td'))]
location = [columns[1].text.strip() for row in table if (columns := row.find_all('td'))]
price = [columns[3].text.strip() for row in table if (columns := row.find_all('td'))]

ranking = pd.DataFrame({"Rank": rank, 
                        "Location":location, 
                        "Price": price})

ranking = ranking[~ranking["Location"].str.contains("Canada")]
ranking1 = ranking[ranking["Location"].str.contains("NY|CA")]
ranking1

   Rank                          Location        Price
0     1       San Jose, CA, United States  16,054.79 $
1     2       New York, NY, United States  15,900.08 $
2     3       Brooklyn, NY, United States  14,039.73 $
3     4  San Francisco, CA, United States  13,518.21 $
6     7      San Diego, CA, United States  11,715.93 $
11   12    Los Angeles, CA, United States   9,531.96 $
17   18        Oakland, CA, United States   8,191.34 $
19   20     Sacramento, CA, United States   7,409.16 $