In [2]:
import pandas as pd 
import requests
from bs4 import BeautifulSoup
import re

### Price ($) per square meter for each city

In [48]:
url = "https://www.numbeo.com/cost-of-living/city_price_rankings?displayCurrency=USD&itemId=100&region=021"
res = requests.get(url) 
soup = BeautifulSoup(res.content, 'html.parser')
table = soup.find_all('tr', {"class":"tr_standard"})

rank = [columns[0].text.strip().replace(".","") for row in table if (columns := row.find_all('td'))]
location = [columns[1].text.strip() for row in table if (columns := row.find_all('td'))]
price = [columns[3].text.strip().replace("\xa0$", "").replace(",","").replace("\n","") for row in table if (columns := row.find_all('td'))]

ranking = pd.DataFrame({"Rank": rank, 
                        "Location":location, 
                        "Price": price})

ranking = ranking[~ranking["Location"].str.contains("Canada")]
ranking1 = ranking[ranking["Location"].str.contains("NY|CA")]
ranking1 = ranking1[~ranking1["Location"].str.contains("Jose|Brooklyn|Diego|Oakland|Sacramento")]
#I stay only with the cities that I want which are: New York, NY; San Francisco, CA; Los Angeles, CA
ranking1

   Rank                          Location     Price
1     2       New York, NY, United States  15900.08
3     4  San Francisco, CA, United States  13518.21
11   12    Los Angeles, CA, United States   9531.96

In [49]:
ranking1["Price"] =  pd.to_numeric(ranking1["Price"], errors="coerce")

In [51]:
ranking1["Price"].max()

15900.08

Differences in distance:

In [86]:
import math

def distance(query,coord1,coord2):
 
    # Coordinates in decimal degrees (e.g. 2.89078, 12.79797)
    lon1, lat1 = coord1
    lon2, lat2 = coord2

    R = 6371000  # radius of Earth in meters
    phi_1 = math.radians(lat1)
    phi_2 = math.radians(lat2)

    delta_phi = math.radians(lat2 - lat1)
    delta_lambda = math.radians(lon2 - lon1)

    a = math.sin(delta_phi / 2.0) ** 2 + math.cos(phi_1) * math.cos(phi_2) * math.sin(delta_lambda / 2.0) ** 2
    
    c = 2 * math.atan2(math.sqrt(a), math.sqrt(1 - a))

    meters = R * c  # output distance in meters
    km = meters / 1000.0  # output distance in kilometers

    meters = round(meters, 3)
    km = round(km, 3)

    print(f"{query} at {meters} m from the office")
    return meters

In [98]:
lat1 = 40.726155
lon1 = -73.995625
coord1 = lon1, lat1 

lat2 = 40.730073	
lon2 = -73.991630
coord2 = lon2, lat2
ny_starbucks = distance("Starbucks",coord1, coord2)


lat3 = 40.730902	
lon3 = -73.986904	
coord3 = lon3, lat3
ny_school= distance("Schools",coord1, coord3)


lat4 = 40.743114	
lon4 = -73.986160
coord4 = lon4, lat4
ny_airport = distance("Airports",coord1, coord4)


lat5 = 40.720505	
lon5 = -73.988417
coord5 = lon5, lat5
ny_clubs = distance("Clubs",coord1, coord5)


lat6 = 40.726974
lon6 = -73.980550
coord6 = lon6, lat6
ny_basketball = distance("Basketball",coord1, coord6)


lat7 = 40.726421	
lon7 = -74.000960
coord7 = lon7, lat7
ny_pets = distance("Pets",coord1, coord7)

common_index = range(len(ny_starbucks)) if isinstance(ny_starbucks, list) else [0]
nylist = {"Starbucks": ny_starbucks,"Schools":ny_school,"Airports":ny_airport,"Clubs": ny_clubs,"Basketball": ny_basketball,"Pets": ny_pets}
nylist = pd.DataFrame(nylist, index=common_index)

Starbucks at 550.57 m from the office
Schools at 904.795 m from the office
Airports at 2047.453 m from the office
Clubs at 873.88 m from the office
Basketball at 1273.586 m from the office
Pets at 450.539 m from the office

In [99]:
lat1 = 37.788668
lon1 = -122.400558
coord11 = lon1, lat1 


lat2 = 37.788398	
lon2 = -122.393628
coord2 = lon2, lat2
sf_starbucks = distance("Starbucks",coord11, coord2)


lat3 = 37.798585
lon3 = -122.403119
coord3 = lon3, lat3
sf_school= distance("Schools",coord11, coord3)


lat4 = 37.788091
lon4 = -122.405368
coord4 = lon4, lat4
sf_airport = distance("Airports",coord11, coord4)


lat5 = 37.785979		
lon5 = -122.399652
coord5 = lon5, lat5
sf_clubs = distance("Clubs",coord11, coord5)


lat6 = 37.781084
lon6 = -122.414131
coord6 = lon6, lat6
sf_basketball = distance("Basketball",coord11, coord6)


lat7 = 37.788808		
lon7 = -122.401109
coord7 = lon7, lat7
sf_pets = distance("Pets",coord11, coord7)

common_index = range(len(sf_starbucks)) if isinstance(sf_starbucks, list) else [0]
sflist = {"Starbucks": sf_starbucks,"Schools":sf_school,"Airports":sf_airport,"Clubs": sf_clubs,"Basketball": sf_basketball,"Pets": sf_pets}
sflist = pd.DataFrame(sflist, index=common_index)

Starbucks at 609.712 m from the office
Schools at 1125.447 m from the office
Airports at 427.521 m from the office
Clubs at 309.421 m from the office
Basketball at 1460.785 m from the office
Pets at 50.86 m from the office

In [100]:
lat1 = 34.085749
lon1 = -118.343791
coord11 = lon1, lat1 


lat2 = 34.083539
lon2 = -118.356152
coord2 = lon2, lat2
la_starbucks = distance("Starbucks",coord11, coord2)

lat3 = 34.088039
lon3 = -118.336643
coord3 = lon3, lat3
la_school= distance("Schools",coord11, coord3)

lat4 = 34.075066
lon4 = -118.342194
coord4 = lon4, lat4
la_airport = distance("Airports",coord11, coord4)

lat5 = 34.101016		
lon5 = -118.335832
coord5 = lon5, lat5
la_clubs = distance("Clubs",coord11, coord5)

lat6 = 34.087743
lon6 = -118.350008
coord6 = lon6, lat6
la_basketball = distance("Basketball",coord11, coord6)

lat7 = 34.091353			
lon7 = -118.343428
coord7 = lon7, lat7
la_pets = distance("Pets",coord11, coord7)

common_index = range(len(la_starbucks)) if isinstance(la_starbucks, list) else [0]
lalist = {"Starbucks": la_starbucks,"Schools":la_school,"Airports":la_airport,"Clubs": la_clubs,"Basketball": la_basketball,"Pets": la_pets}
lalist = pd.DataFrame(lalist,  index=common_index)

Starbucks at 1164.582 m from the office
Schools at 705.796 m from the office
Airports at 1196.966 m from the office
Clubs at 1849.059 m from the office
Basketball at 613.961 m from the office
Pets at 624.032 m from the office